@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  box-sizing: border-box;
}

.main-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-box{
  width: calc(100%/3);
  background-color: #5b9cd0;
  height: 100%;
}

.middle-box{
  width: calc(100%/3);
  background-color: #41e4d5;
  height: 100%;
}

.right-top{
  width: calc(100%/3);
  background-color: #b6e67e;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-bottom{
 width: 100%;
 background-color: red;
 height: 25%;
 display: flex;
 justify-content: center;
 align-items: center;

}

.text{
  text-align: center;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: white;
}
